<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_500pxCracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <_500pxCracker.Properties.Settings>
            <setting name="UpdateDBDateTime" serializeAs="String">
                <value>06/15/2018 00:01:00</value>
            </setting>
            <setting name="FreshDateTime" serializeAs="String">
                <value>06/15/2018 00:01:00</value>
            </setting>
            <setting name="UpcomingDateTime" serializeAs="String">
                <value>06/15/2018 00:01:00</value>
            </setting>
            <setting name="LastestDateTime" serializeAs="String">
                <value>06/15/2018 00:01:00</value>
            </setting>
            <setting name="FreshNumber" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="UpcomingNumber" serializeAs="String">
                <value>50</value>
            </setting>
        </_500pxCracker.Properties.Settings>
    </userSettings>
</configuration>